/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 10, 2021, 3:48:04 PM
    Author     : Sandro
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;500;600;700;800;900&display=swap');

* { /*means to apply to all classes*/
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;    
}

/* unvisited link */
a.link1:link {
  color: #19BDCE;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #19BDCE;
}

/* visited link */
a.link1:visited {
  color: #2CB7A9;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #2CB7A9;
}

/* mouse over link */
a.link1:hover {
  color: #FFBB0D;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #FFBB0D;
}

/* selected link */
a.link1:active {
  color: #EC632D;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #EC632D;
}

/* ----- splash page ----*/

.splash {
    min-height: 100vh;
    width: 100%;
    background-image: url(img/bg.jpg);  
}

.text-box {    
    width: 90%;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%,-50%);
    text-align: left;
}

.text-box h1 {
    font-size: 200px;
}

.text-box h3 {
    font-size: 45px;
    margin: 30px 0 40px;
    color: #fff;
}

.text-box p{
    margin: -25px 10px 40px;
    font-size: 12px;
    color: #fff;
}

.start-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    font-size: 50px;
    background-color: #EC632D;
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    margin: 100px 0 0; 
}

.start-btn:hover{
    border: 1px solid #FFBB0D;
    background: #FFBB0D;
    transition: 1s;
}

.reg-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #8e111e;
    position: absolute;
    padding: 10px 30px;
    top: 10px;
    right: 100px;
    cursor: pointer;
    border-radius: 8px;
    margin: 50px 0 0; 
}

.reg-btn:hover {
    border: 1px solid #FFBB0D;
    background: #FFBB0D;
    transition: 1s;
}

.log-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #8e111e;
    position: absolute;
    padding: 10px 30px;
    top: 10px;
    right: 230px;
    cursor: pointer;
    border-radius: 8px;
    margin: 50px 50px 0; 
}

.log-btn:hover {
    border: 1px solid #FFBB0D;
    background: #FFBB0D;
    transition: 1s;
}


/* ----- features ----*/
.features {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-top: 100px;
    background-color: black;
    text-align: center;
    
}

.features h1 {
    font-size: 150px;
    font-weight: 600;
    color: white;
}

.features h3 {
    color: white;
    font-size: 65px;
    font-weight: 600;
    line-height: 22px;
    padding: 35px;
}

.features p {
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 35px;
}

.row {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}

.feature-col {
    flex-basis: 31%;
    background: #b7aea5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;   
}

/* ----- the team ----*/

.team {    
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    background-color: #433d3d;
    color: white;
    scroll-snap-align: start;
}

.team h1 {
    font-size: 150px;
    font-weight: 600px;
    margin-bottom: 5%;
    color: white;
    text-align: center;
}

#team-row {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.member {
    float: left;
    width: 31%;
    margin: 1% 1% 45px 1%;
}

.name {
    position: absolute;
    font-weight: 500;
    bottom: 0px;
}

.member img {
    margin: 50px 0 40px 50px;
    width: 75%;
    display: block;
}

/* ----- call to action ----*/

.action {  
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 100px;
    background-color: #d01d33;
    text-align: center;
}

.start1-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    font-size: 50px;
    background-color: #EC632D;
    cursor: pointer;
    border-radius: 8px;
    margin: 100px 0 0; 
}

.start1-btn:hover{
    border: 1px solid #FFBB0D;
    background: #FFBB0D;
    transition: 1s;
}

.text-box1 h1 {
    font-size: 200px;
}

.text-box1 p{
    margin: -15px 10px 40px;
    font-size: 25px;
    color: #fff;
}

/* ----- SURVEY OF THE DAY ----*/
.regarea2 {
    background-image: url("./img/bg3.png");
    height: 980px;
    background-size: cover;
}

.regarea2 h1 {
    position: absolute;
    color: white;
    font-size: 550%;
    font-weight: 700;
    margin: 0 0 10px 500px;
    padding-top: 120px;
}

/* ----- LOGIN AND FORGOT PASS ----*/

.txt1 {
  margin: 0;
  padding: 0;
  background-image: url("./img/bg1.png");
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  background-image: url("./img/bg1.png");
}

.center:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #EC632D;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #EC632D;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #2e2e2e;
  cursor: pointer;
  text-decoration: none;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #fcb045;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #EC632D;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}



/* ----- REG PAGE ----*/
.bar-bg {
    height: 100px;
    width: 100%;
    background-color: #282828;
}

.rect-1 {
  position: relative;
  height: 100px;
  width: 33%;
  background-color: #FFBB0D;
  display: inline-flex;
  text-align: center;
  
}

.rect-2 {
  position: relative;
  height: 100px;
  width: 33%;
  background-color: #FFBB0D;
  display: inline-flex;
  text-align: center;
  
}

.rect-3 {
  position: relative;
  height: 100px;
  width: 33.39%;
  background-color: #FFBB0D;
  display: inline-flex;
  text-align: center;
}

.step-1 {
    height: 100px;
    width: 33%;
    color: #282828;
    font-size: 20px;
    padding: 15px 0 0 0;
    text-align: center;
}

.step-2 {
    height: 100px;
    width: 33%;
    color: #282828;
    font-size: 20px;
    padding: 15px 0 0 0;
    text-align: center;
}

.step-3 {
    height: 100px;
    width: 33%;
    color: #282828;
    font-size: 20px;
    padding: 15px 0 0 0;
    text-align: center;
}

.acd {
    height: 100px;
    width: 208px;
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 50px;
    padding: 0 0 0 60px;

}

.secu {
    height: 100px;
    width: 250px;
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 50px;
    padding: 0 0 0 63px;
    text-align: left;
}
.surv {
    height: 100px;
    width: 250px;
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 50px;
    padding: 0 0 0 60px;
    text-align: left;
}

.regarea {
    background-image: url(./img/bg2.png);
    height: 879px;
    background-size: cover;
}

.row1 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    margin-left: 50px;
}

.input-group {
    flex:1;  
    flex-direction:column; 
    margin: 20px 5px;
}

.formarea {
    max-width: 800px;
    height: 800px;
    outline: none;
    
    
}

#one {
    background: white;
    width: 33%;
    height: 10px;
}

fieldset:not(:first-of-type) {
	display: none;
}

fieldset {
    width: fit-content;
    margin-left: 500px;
    margin-right: 0px;
    border: 0;
}

.next, .prev {
    width: 89px;
    height: 125px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    background: #EC632D;
    box-shadow: 2px 2px 4px 0 rgba(255,255,255,0.2);
    cursor: pointer;
    margin: 10px;
}

.getout {
    color:white;
    width: 89px;
    height: 125px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    background: #d01d33;
    box-shadow: 2px 2px 4px 0 rgba(255,255,255,0.2);
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    margin: 10px;
}

label.q {
    color: white;
    
    font-size: 26px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.space {
    margin-top: 650px;
}

.space1 {
    margin-top: 20px;
}

input.reg[type=text] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: none;
  outline: none;
  width: 250px;
  color: white;
}

input.reg2[type=text] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: none;
  outline: none;
  width: 250px;
  color: white;
}

input.reg3[type=text] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: none;
  outline: none;
  width: 620px;
  color: white;
}

input.regp[type=password] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: none;
  color: white;
  width: 250px;
}

div.survey {
    overflow-y: scroll;
    height: 400px;
    margin-left: 20px;
    margin-right: 5px;
}

h3.survq {
    width: auto;
    color: white;
    line-height: 25px;
    margin: 10px;
    font-size: 20px;
    font-style: italic;
}

label.ans {
    color: white;
    font-size: 15px;
}

input.fsubmitbtn[type="submit"]{
    width: 89px;
    height: 45px;
    background: #fcb045;
    border-radius: 25px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    margin: 10px;
    box-shadow: 2px 2px 4px 0 rgba(255,255,255,0.2);
     
}

input.sympt[type="checkbox"]{
    color: white;
    margin: 3px 3px 3px 3px;
}

label.secq {
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 26px;
}

input.secans[type=password] {
    font-size: 18px;
    height: 34px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: none;
    color: white;
    width: 250px;
}


.regcontain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  width: 780px;
  padding: 10px 5px;
}

.regcontain:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(50px);
  margin: -5px;
}

.regcontain1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  width: 780px;
  padding: 10px 5px;
  height: 270px;
}

.regcontain1:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(50px);
  margin: -5px;
}

.regcontain2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  width: 780px;
  padding: 10px 5px;
  height: 400px;
}

.regcontain2:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(50px);
  margin: -5px;
}

/* ----- SCROLL BAR ----*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #282828;
}
::-web-scrollbar-track {
    
}

::-webkit-scrollbar-thumb {
    background: #FFBB0D;
}

/* ----- SECURITY SELECT ----*/

.selectdiv {
  position: relative;
  float: left;
  min-width: 250px;
  margin: 10px;
}


select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 
  
  display: block;
  width: 100%;
  max-width: 400px;
  height: 50px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

/* ----- TOS ----*/

.card {
  
  background-color: #192824;
  display: block;
  max-width: 100%;
  min-height: 90px;
  cursor: pointer;
  padding: 100px;
  
}

.card p {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 80px;
  font-weight: normal;
  color: white;
  text-align: center;
}

p.back {
    color:white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
/* ----- NAVBAR-MAIN ----*/
.navbar {
  overflow: hidden;
  background-color: #333;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.dropdown {
  float: right;
  overflow: auto;

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-right: 30px;
  margin-top: 20px;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 9999;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ----- MAPS STYLE ----*/

#map {
    width: 100%;
    height: 90vh;
}

.gmaps img {
  max-width: 10%;
}

/* ----- CHECK IN/CHECKOUT ----*/

.modal-open {
    padding: 8px 16px;
    background: #8e111e;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 400;
}

.modal-open1 {
    padding: 8px 16px;
    background: #8e111e;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    position: absolute;
    left: 135px;
    bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  background-color: white;
  width: 500px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  display: none;
  animation: modal-open .5s;
  
}

.modal-content {
    background: #fff;
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    z-index: 4;
}

.modal-header {
    font-weight: 500;
    padding: 10px 0;
    font-size: 26px;
}

.modal-header .modal-close {
    float: right;
    font-size: 20px;
    background: white;
    border: 0;
    outline: 0;
    padding: 5px 8px;
    border-radius: 50%;
}

.modal-body {
    color: #7b7b7b;
    padding: 15px 0;
}

.modal-footer {
    padding: 15px 0;
}

.modal-footer .modal-close {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #EC632D;
}


/* ----- ADMIN PAGE ----*/

.container {
  padding: 2rem 0rem;
}

.admintab {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: white;
    height: 100vh;
}

admintab.h4 {
  margin: 2rem 0rem 1rem;  
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.previous {
  background-color: #FFBB0D;
  color: black;
  position:absolute;
  left: 380px;
  padding: 20px;
}

/* ----- PROFILE PAGE ----*/

.viewprofile {
    background-color: black;
    width: 100%;
    height: 91.2vh;
}

.sqlprof {
    padding-left: 125px;
    padding-top: 70px;
}

.viewprofile h1 {
    color: white;
    font-size: 750%;
    font-weight: 700;
    margin: 0 0 10px 0;
    left: 200px;
    top: 180px;
    display: flex;
}

.viewprofile h3 {
    color: #F1F1F1;
    margin-bottom: 20px;
    font-size: 150%;
    position: relative;
    display: flex;
}

.viewprofile h4 {
    color: #F1F1F1;
    display: block;
    padding: 1em 1em 1em 1em;
    margin-top: .5em;
    margin-bottom: 20px;
    border: solid white 1px;
    max-width: 20em;
    position: relative;
    display: flex;
}

a.Edit {
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: 700;
    position: relative;
    display: flex;
    border: 1px solid #EC632D;
    width: 150px;
    background: #EC632D;
    color: white;
    padding: 12px;
}



/* ----- EDIT PROFILE PAGE ----*/

.viewprofile2 {
    background-color: black;
    width: 100%;
    height: 100vh;
}

input.profedit[type=text] {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 150px;
  margin: 0 0 0 30px;
  background: none;
  border: none;
  border-bottom: 2px solid #3B3B3B;
  color: white;
}

input.profeditp[type=password] {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
    padding-right: 150px;
    margin: 0 0 0 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #3B3B3B;
    color: white;
}

.viewprofile2 h1 {
    color: white;
    font-size: 750%;
    font-weight: 700;
    margin: 0 0 10px 0;
    left: 200px;
    top: 180px;
    display: flex;
}

.viewprofile2 h3 {
    color: #F1F1F1;
    margin-bottom: 20px;
    font-size: 150%;
    position: relative;
    display: flex;
}

.viewprofile2 h4 {
    color: #F1F1F1;
    display: block;
    padding: 1em 1em 1em 1em;
    margin-top: .5em;
    margin-bottom: 20px;
    border: solid white 1px;
    max-width: 20em;
    position: relative;
    display: flex;
}


input.submitbtn2[type="submit"]{
    width: 100px;
    height: 50px;
    border: 1px solid;
    background: #fcb045;
    border-radius: 0;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left: 30px;
}

