<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>asia.uap.Filters.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggedInFilter</filter-name>
        <filter-class>asia.uap.Filters.LoggedInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedInFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/WEB-INF/home.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ForgetPass</servlet-name>
        <servlet-class>asia.uap.ForgetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPass2</servlet-name>
        <servlet-class>asia.uap.ForgetPass2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassSuccess</servlet-name>
        <servlet-class>asia.uap.ForgetPassSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>asia.uap.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>asia.uap.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>asia.uap.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmProfileEdits</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.ConfirmProfileEdits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>asia.uap.Admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSurvey</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.updateSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterLocation</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.RegisterLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLocation</servlet-name>
        <servlet-class>asia.uap.Admin.ApproveLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectLoc</servlet-name>
        <servlet-class>asia.uap.Admin.RejectLoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOnLoad</servlet-name>
        <servlet-class>asia.uap.Admin.AdminOnLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOnApprove</servlet-name>
        <servlet-class>asia.uap.Admin.AdminOnApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCLocation</servlet-name>
        <servlet-class>asia.uap.Admin.AdminViewCLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Maps</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.Maps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnCheckOut</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.OnCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>asia.uap.Admin.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnProfile</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.OnProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnViewLocations</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.OnViewLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLocDetails</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.ViewLocDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReviews</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.ViewReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReview</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.SubmitReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnReview</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.OnReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnSubmitReview</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.OnSubmitReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadLogin</servlet-name>
        <servlet-class>Upload.UploadLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCSV</servlet-name>
        <servlet-class>Upload.UploadCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCSV</servlet-name>
        <servlet-class>asia.uap.Admin.CheckCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelete</servlet-name>
        <servlet-class>asia.uap.Admin.AdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMarkPos</servlet-name>
        <servlet-class>asia.uap.Admin.AdminMarkPos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMarkNeg</servlet-name>
        <servlet-class>asia.uap.Admin.AdminMarkNeg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActivities</servlet-name>
        <servlet-class>asia.uap.LogInUserFunctions.UserActivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReviews</servlet-name>
        <servlet-class>asia.uap.Admin.AdminReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteReview</servlet-name>
        <servlet-class>asia.uap.Admin.AdminDeleteReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPass</servlet-name>
        <url-pattern>/do.forgor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPass2</servlet-name>
        <url-pattern>/do.moreForgor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassSuccess</servlet-name>
        <url-pattern>/do.successForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/do.signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/do.logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/do.register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/do.updatePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/do.editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmProfileEdits</servlet-name>
        <url-pattern>/do.confirmEdits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/do.adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSurvey</servlet-name>
        <url-pattern>/do.updateSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/do.checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterLocation</servlet-name>
        <url-pattern>/do.regLoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLocation</servlet-name>
        <url-pattern>/do.confirmLoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectLoc</servlet-name>
        <url-pattern>/do.rejectLoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOnLoad</servlet-name>
        <url-pattern>/do.admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOnApprove</servlet-name>
        <url-pattern>/do.adminApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCLocation</servlet-name>
        <url-pattern>/do.adminViewLoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Maps</servlet-name>
        <url-pattern>/do.maps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnCheckOut</servlet-name>
        <url-pattern>/do.onCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/do.adminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnProfile</servlet-name>
        <url-pattern>/do.onProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnViewLocations</servlet-name>
        <url-pattern>/do.viewLocations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLocDetails</servlet-name>
        <url-pattern>/do.viewLocDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReviews</servlet-name>
        <url-pattern>/do.viewReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReview</servlet-name>
        <url-pattern>/do.submitReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnReview</servlet-name>
        <url-pattern>/do.onReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnSubmitReview</servlet-name>
        <url-pattern>/do.onSubmitReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLogin</servlet-name>
        <url-pattern>/do.uploadLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCSV</servlet-name>
        <url-pattern>/do.uploadCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCSV</servlet-name>
        <url-pattern>/do.checkCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelete</servlet-name>
        <url-pattern>/do.deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMarkPos</servlet-name>
        <url-pattern>/do.markPositive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMarkNeg</servlet-name>
        <url-pattern>/do.markNegative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActivities</servlet-name>
        <url-pattern>/do.onActivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReviews</servlet-name>
        <url-pattern>/do.adminReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteReview</servlet-name>
        <url-pattern>/do.adminDeleteReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
